.timer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.timer .time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.time .time-main {
  font-size: 12rem;
}

.time .time-millisecond {
  font-size: 6rem;
}

.timer .controller {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.controller .controller-time {
  display: flex;
  justify-content: center;
}

.controller-time .time-input {
  width: 30px;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

.controller .controller-panel {
  display: flex;
  justify-content: center;
}

.controller-panel .time-btn {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 30px 15px;
  border: none;
}

.controller-panel .start {
  background: rgba(0, 0, 0, 0) url(/images/icon-play.png);
}

.controller-panel .stop {
  background: rgba(0, 0, 0, 0) url(/images/icon-stop.png);
}

.controller-panel .reset {
  background: rgba(0, 0, 0, 0) url(/images/icon-refresh.png);
}